<html>
<h1 class="centerize">Welcome to TeamNote!</h1>

<br>
<body>

 <div class="centerize" style="float:center;">
<%= button_to('View notes', notes_path, :class => 'btn btn-large btn-primary', :method => :get) %>
</div>


<div class="centerize" style="float:center;">
<%= button_to('Create note', new_note_path, :class => 'btn btn-large btn-primary', :method => :get) %>
</div>





</body>
</html>